@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.jost {
  font-family: var(--font-jostFont);
}

@theme {
  --color-bgMain: #f3f4f5;
  --color-bgSurface: #d6d6d5;
  --color-textMuted: #949492;
  --color-brandPrimary: #1d2846;
  --animate-slide-up: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-fade-in: fadeIn 0.3s ease-out forwards;

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
